<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Stephen &amp; Lisette Getting Married!</title>

		<link rel="stylesheet" type="text/css" href="/styles.css" media="screen" />
		<style type="text/css" media="screen">
			body {
				padding-right: 30%;
				padding-bottom: 1em;
			}
			footer {
				font-size: 0.6em;
				position: fixed;
				bottom: 0;
				right: 0;
				width: 30%;
			}

			.notice {
				font-weight: bold;
			}

			.contact {
				position: fixed;
				top: 0;
				right: 0;
				height: 100vh;
				width: 30%;
				padding: 1em;
				padding-left: 5%;
			}
			.contact > img {
				max-width: 100%;
			}
			.contact > a { display: block; }

			.location > span, .geo > span { display: inline-block; }

			#registry form { display: inline-block; }

			#rsvp label, #rsvp button { display: inline; }

			.product {
				list-style-type: none;
				clear: left;
			}
			.product > .photo {
				float: left;
				margin-right: 0.5em;
			}
			.product > h1 {
				font-size: 1.1em;
			}
			.product > form {
				margin-top: 0.5em;
			}
		</style>

		<script type="text/javascript">
			window.addEventListener("load", function() {
				Array.prototype.forEach.call(document.querySelectorAll(".product > form"), function(el) {
					el.addEventListener("submit", function(e) {
						if(!confirm("Really mark off that you purchased this item?")) {
							e.preventDefault();
						}
					});
				});
			});
		</script>
	</head>
	<body>
		<div class="vevent">
			<div class="contact">
				<img class="photo" src="stephenAndLisette.jpg" alt="...and so happy about it!" />
				<a href="mailto:wedding@sette.ca">wedding@sette.ca</a>
				<a href="mailto:wedding@singpolyma.net">wedding@singpolyma.net</a>
			</div>

			<h1 class="summary"><a class="url" href="/">Getting Married!</a></h1>

			<time class="dtstart" datetime="2016-04-16" title="2016-107">April 16th, 2016</time>

			<section>
				<h1>Ceremony</h1>
				<span class="location">Rosebank Brethren in Christ Church <span>(1434 Huron Rd, Wilmot, Ontario)</span></span>
				<a class="geo" href="http://osm.org/go/ZXnO19vVd--?m="><span class="latitude">43.3736783</span>, <span class="longitude">-80.5416386</span></a>
			</section>

			<section>
				<h1>Reception</h1>
				<span class="location">The Victoria Park Pavilion <span>(80 Schneider Ave, Kitchener, Ontario)</span></span>
				<a class="geo" href="http://osm.org/go/ZXnwRoNiw--?m="><span class="latitude">43.4456983</span>, <span class="longitude">-80.4991108</span></a>
			</section>

			<section id="rsvp">
				<h1>RSVP</h1>
				<form method="get" action="/rsvp">
					<label>By name or email: <input type="text" name="q" /></label>
					<button>RSVP</button>
				</form>
			</section>

			<section id="registry">
				<h1>Registry</h1>
				{{#message}}<p class="notice">{{message}}</p>{{/message}}

				<ul>
				{{#registry}}
					<li class="product">
						{{#photo}}<img class="photo" src="{{photo}}" alt="Product photo" />{{/photo}}
						<h1>{{title}}</h1>
						{{#note}}<p>{{note}}</p>{{/note}}
						{{#exactly}}{{#url}}You can <a class="url" href="{{url}}">buy it here</a>.{{/url}}{{/exactly}}
						{{^exactly}}{{#url}}Something like <a class="url" href="{{url}}">this one here</a>.{{/url}}{{/exactly}}
						<div>Remaining to get: {{need}}</div>

						<form method="post" action="/#registry">
							<button name="id" value="{{id}}">I bought one!</button>
						</form>
					</li>
				{{/registry}}
				</ul>
			</section>

			<footer>
				Full source code for this website available <a href="https://github.com/singpolyma/wedding">on Github</a> under the GPLv3.
			</footer>
		</div>
	</body>
</html>
